:root {
  --c-bg: #fff;
  --c-fg: #555;
  --c-gray: #8884;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  color-scheme: light dark;
}

html {
  background-color: var(--c-bg);
  color: var(--c-fg);
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

html.dark {
  --c-bg: #050505;
  --c-fg: #bbb;
  --c-gray: #8884;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
  color-scheme: dark;
}

::selection {
  background: var(--c-gray);
}

/* Scrollbar styling similar to antfu's */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

@media (min-width: 640px) {
  html {
    font-size: 1.125rem;
  }
}
