:root {
  --prose-max-width: 43rem;
  --prose-width: min(var(--prose-max-width), 100%);
  --prose-margin: calc(calc(100vw - var(--prose-width)) / 2);
}

.prose {
  color: var(--fg);
  max-width: var(--prose-max-width);
  line-height: 1.7;
}
